html {
  box-sizing: border-box;
}

button {
  display: block;
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}