:root {
    --background-primary-color: #253d59;
    --text-color:#182e36;
    --text-second-color:#d2d7e3;
    
    --link-color: #155d75;
    --link-second-color:#606c78;
    --activ-border-color: tomato;
  
    
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
    --background-color: #f5f5f5;
    --header-background-color: #1abc9c;
    
}