footer {
    background-color: $footerBgColor;
    color: $text-second-color;

    padding: 8px;
    border-radius: 2px;
}

.contact-link {
    color: $link-second-color;
    font-size: 12px;
    padding-left: 16px;
}