body {
// .background__main {
  // border: 1px solid green;
  
  transition: transform .2s ease;
  -webkit-font-smoothing: antialiased;
  background: $backgroound-section-color;
  color: #919191;
  font-family: "Lato", "Noto Sans", "Noto Sans KR", "Noto Sans JP", "Noto Sans HK", "Noto Sans SC", "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.icon_square {
  width: 24px;
  height: 24px;
  background-color: $link-second-color;
  border-radius: 4px;
  color: $backgroound-section-color;
}

.button-icons{
  background-color: inherit;
  fill: $link-second-color;
}