$background-color: #f1f2f3;
$footerBgColor: #253d59;
$backgroound-section-color: #fff;
$text-color: #182e36;
$text-second-color: #d2d7e3;

$link-color: #155d75;
$link-second-color: #606c78;
$activ-border-color: tomato;


$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;

