body {
  /* transition: transform .2s ease; */
  /* -webkit-font-smoothing: antialiased; */
  background: var(--background-color);
  color: #919191;
  font-family: "Lato", "Noto Sans", "Noto Sans KR", "Noto Sans JP", "Noto Sans HK", "Noto Sans SC", "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin: 4px 0;
  border: 4px solid green;
  min-height: 40px;
  box-sizing: border-box;
  width: 100%;
}

/* section{
  background: var(--backgroound-section-color);
  border-radius: 8px;
  margin: 0 auto;
  padding-left: .5rem;
  padding-right: .5rem;
  width: 100%;
} */

/* .container{
  max-width: 100%;
  margin: 0 auto;
  

      margin: 0 auto;
      padding-left: .5rem;
      padding-right: .5rem;
      width: 100%;
}
  
  @media (min-width: 768px){
    .container{
    max-width:768px;
    margin: 0 auto;
    }
  }
  
  @media (min-width: 1024px){
    .container{
    max-width:1024px;
    }
  } */