/* .header{
  border: 2px solid tomato;
  background: var(--backgroound-section-color);
  margin: 0;
  height: 82px;
  padding: 19px 15px;
} */

/* .header {
  background: #fff;
  margin: 0;
  padding: 14px 15px;
} */

/* .header-holder{
  margin: 0 auto;
  max-width: 100%;
} */

.header_title{
  /* block-size: auto; */
  /* writing-mode: horizontal-tb; */
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  padding: 0 .5em;
  border: 1px solid tomato;
  /* background-image: url('/img/background-header.png'); */
  /* background-size: contain; */
  /* background-position: 20% 90%; */
  /* background-clip: text; */
  /* color: transparent; */
}
.header_img{
  height: 36px;
  border-radius: 50%;
  margin-right: 8px;
}
.header_title-text{
  font-size: 1.8em;
}

nav{
  padding-left: 40px;
}
.nav-item{
  display: inline-block;
  padding: 0 6px;
  color: var(--background-secondary-color);
  font-weight: 600;
}

.activ{
  border-bottom: 2px solid var(--activ-border-color);
}

@media (min-width: 340px) {
  header {
    background-position: 25% 90%;

  }

  .header_title-text {
    font-size: 2em;
  }

  nav{
    padding-left: 46px;
  }
}

@media (min-width: 1024px) {
  header {
    height: 82px;
    padding: 19px 15px;
  }
}