:root {
    --background-color: #f1f2f3;
    --background-secondary-color: #253d59;
    --backgroound-section-color: #fff;
    --text-color:#182e36;
    --text-second-color:#d2d7e3;
    
    --link-color: #155d75;
    --link-second-color:#606c78;
    --link-third-color: #fff;
    --activ-border-color: rgb(255, 255, 71);
  
    --decoration-color: rgba(96, 108, 120);
    --wrapper-color: rgba(37, 61, 89, 0.5);
    /* --primary-color: #3498db; */
    /* --secondary-color: #2ecc71; */
}