<nav class="nav">
    <ul class="tablet-nav_menu">
        <li class="nav-item activ"><a href="#">Головна</a></li>
        <li class="nav-item"><a
                href="https://drive.google.com/drive/folders/1zxVXSzw35qKmhu5BcP-HISQWTOGNhG4y">Тексти</a>
        </li>
        <li class="nav-item"><a
                href="https://docs.google.com/spreadsheets/d/1G98HRpEKOy9EVQo_yJp-Vu9kY4nZiaWYHCnoJKmfHs8/edit#gid=1349975186">Розклад</a>
        </li>
        <li class="nav-item"><a href="#">Ресурси</a></li>
    </ul>
</nav>