footer {
    background-color: var(--background-secondary-color);
    color: var(--text-second-color);

    padding: 8px;
    border-radius: 2px;
}

.contact-link {
    color: var(--link-second-color);
    font-size: 12px;
    padding-left: 16px;
}