// --- global part ---
@import '~node_modules/modern-normalize/modern-normalize.css';

@import './utils/variables';
@import './base/reset';
@import './base/global';

// --- atoms ---


// --- partials ---
@import './partials/nav';
@import './partials/header';
@import './partials/footer';


// --- pages ---

//--- last part ---
@import './utils/utils';